footer {
  background-color: #f5f5f5;
  padding-bottom: 32px;
  position: relative;

  .footer-container {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .footer-top {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 2fr;
      gap: 0 15px;
      padding-top: 30px;

      .footer-top_col1 {
        img {
          max-width: 166px;
          margin-bottom: 20px;
        }

        p {
          max-width: 341px;
          font-size: 14px;
          color: #555555;
        }
      }

      .footer-top_col2,
      .footer-top_col3,
      .footer-top_col4 {
        h4 {
          font-size: 16px;
          font-weight: 700;

          margin-bottom: 20px;
        }

        ul {
          padding: 10px 0;
          list-style: none;
          color: #555555;
          max-width: 410px;
          li {
            margin-bottom: 10px;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
    .footer-center {
      padding: 30px;
    }
    .footer-bottom {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-top: 32px;
      border-top: 1px solid #555555;

      p {
        font-size: 14px;
        color: #999999;
      }
    }

    .footer-icon {
      position: absolute;
      bottom: 75px;
      right: 50px;
      img {
        max-width: 40px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  footer {
    padding-bottom: 20px;
    .footer-container {
      max-width: 900px;
      .footer-top {
        .footer-top_col1 {
          img {
            max-width: 120px;
          }
        }

        .footer-top_col2,
        .footer-top_col3,
        .footer-top_col4 {
          h4 {
            font-size: 15px;
            font-weight: 600;
          }

          ul {
            padding: 5px 0;
            li {
              margin-bottom: 7px;
              font-size: 14px;
            }
          }
        }
      }
      .footer-center {
        padding: 5px;
      }
      .footer-bottom {
        padding-top: 20px;
        p {
          font-size: 14px;
          color: #999999;
        }
      }

      .footer-icon {
        bottom: 45px;
        right: 50px;
        img {
          max-width: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  footer {
    .footer-container {
      max-width: 750px;
      .footer-top {
        .footer-top_col1 {
          img {
            max-width: 100px;
          }
        }

        .footer-top_col2,
        .footer-top_col3,
        .footer-top_col4 {
          h4 {
            font-size: 15px;
            font-weight: 600;
          }

          ul {
            padding: 5px 0;
            li {
              margin-bottom: 7px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 777px) {
  footer {
    padding-bottom: 10px;
    .footer-container {
      max-width: 600px;
      .footer-top {
        grid-template-columns: 1fr 1fr 1fr;
        .footer-top_col1 {
          display: none;
        }
      }
      .footer-center {
        padding: 1px;
      }
      .footer-bottom {
        padding-top: 10px;
        p {
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  footer {
    .footer-container {
      max-width: 300px;
      .footer-top {
        grid-template-columns: 100%;
        text-align: center;
        /* grid-template-rows: 1fr 1fr; */
      }
      .footer-bottom {
        padding-top: 10px;
        p {
          text-align: center;
          font-size: 10px;
        }
      }
    }
  }
}
