* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --width-xl: 1290px;
  --width-md: 1290px;
}

.container {
  max-width: var(--width-xl);
  margin: 0 auto;
}

header {
  max-width: var(--width-xl);
  margin: 0 auto;
  height: 72px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-nav {
    a {
      text-decoration: none;
      color: black;
      padding: 20px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .header-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    #header-tag_bar {
      display: none;
    }

    a {
      text-decoration: none;
      color: #000000;
    }
    button {
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      background-color: #ffffff;
    }
    img {
      max-width: 35px;
      max-height: 48px;
    }
  }
}

@media screen and (max-width: 1300px) {
  header {
    max-width: 900px;

    img {
      max-width: 100px;
    }
    .header-nav {
      a {
        text-decoration: none;
        color: black;
        padding: 15px;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .header-login {
      img {
        max-width: 30px;
      }
    }
  }

  .container {
    max-width: 900px;
  }
}

@media screen and (max-width: 900px) {
  header {
    max-width: 750px;

    .header-nav {
      display: none;
    }
    .header-login {
      #header-tag_bar {
        display: block;
      }
    }
  }

  .container {
    max-width: 750px;
  }
}

@media screen and (max-width: 777px) {
  header {
    max-width: 600px;
    .header-login {
      .header-login_btn {
        display: none;
      }
    }
  }

  .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 450px) {
  header {
    max-width: 300px;
  }

  .container {
    max-width: 300px;
  }
}
