main {
  margin-bottom: 70px;
  .main-login__header {
    background-color: #f5f5f5;

    .main-login__header--content {
      max-width: 1290px;
      margin: 0 auto;
      padding: 20px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .content-1 {
        font-size: 16px;
        font-weight: 400;
      }

      .content-2 {
        font-size: 16px;
        font-weight: 400;
        color: #9d9d9d;
      }

      .content-3 {
        margin: 0 10px;
      }
    }
  }

  .main-login__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: auto; */
    align-items: start;
    gap: 30px;
    margin: 50px 0;
  }

  .main-login__form--register,
  .main-login__form--login {
    border: 1px solid #eaeaea;
    min-height: auto;
    border-radius: 20px;
    padding: 30px;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;

      .form-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        label {
          font-size: 14px;
          color: #555555;
          margin-left: 5px;
        }
      }

      .form-password {
        display: flex;
        position: relative;

        img {
          position: absolute;
          right: 12px;
          top: 33%;
          cursor: pointer;
          max-width: 20px;
        }
      }

      input[type="text"],
      input[type="password"],
      select {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
      }

      input[type="text"]:focus,
      input[type="password"]:focus,
      select:focus {
        outline: none;
      }

      button {
        padding: 10px 24px;
        border: none;
        border-radius: 24px;
        background-color: #ff782d;
        font-size: 16px;
        cursor: pointer;
        color: #ffffff;
        margin: 5px 0;
      }

      p {
        color: #000000;
        font-size: 13px;
        cursor: pointer;
        font-weight: 400;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  main {
    .main-login__header {
      .main-login__header--content {
        max-width: 900px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  main {
    .main-login__header {
      .main-login__header--content {
        max-width: 750px;
      }
    }
  }
}

@media screen and (max-width: 777px) {
  main {
    .main-login__header {
      .main-login__header--content {
        max-width: 600px;
        padding: 15px 0;
        .content-1 {
          font-size: 14px;
        }

        .content-2 {
          font-size: 14px;
        }

        .content-3 {
          margin: 0 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  main {
    .main-login__header {
      .main-login__header--content {
        max-width: 300px;
        padding: 15px 0;
        .content-1 {
          font-size: 14px;
        }

        .content-2 {
          font-size: 14px;
        }

        .content-3 {
          margin: 0 5px;
        }
      }
    }

    .main-login__form {
      display: grid;
      grid-template-columns: 1fr;

      /* grid-auto-rows: auto; */
      align-items: start;
      gap: 30px;
      margin: 50px 0;
    }
  }
}
